<%-include('./partials/header')%>
<div class="container">
  <h1
    style="
      color: black;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    "
  >
    <%=movieDetail.Title%>
  </h1>

  <img src="<%=movieDetail.Poster%>" alt="" style="float: right" />

  <button type="button" class="btn btn-primary" style="margin: 25px">
    Rated <%=movieDetail.Rated%>
  </button>

  <p><b>Plot:</b> <%=movieDetail.Plot%></p>
  <p><b>Released:</b> <%=movieDetail.Released%></p>
  <p><b>Genre:</b> <%=movieDetail.Genre%></p>
  <p><b>Director:</b> <%=movieDetail.Director%></p>
  <p><b>Writer:</b> <%=movieDetail.Writer%></p>
  <p><b>Cast:</b> <%=movieDetail.Actors%></p>
  <p><b>Awards:</b> <%=movieDetail.Awards%></p>
  <p><b>Language:</b> <%=movieDetail.Language%></p>

  <button type="button" class="btn btn-warning">
    imdb <%=movieDetail.Ratings[0].Value%>
  </button>

  <%if(movieDetail.Ratings[1] !== undefined){%>

  <button type="button" class="btn btn-danger">
    Rotten Tomatoes <%=movieDetail.Ratings[1].Value%>
  </button>
  <%}else{%>
  <button type="button" class="btn btn-danger">Rotten Tomatoes NA</button>
  <%}%>
</div>
<%-include('./partials/footer')%>
